.certification__Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 100px;
    height: auto;
}
.certification__Image{        
    width: 100px;
    height: auto;
}
.certification__Text-Container{
    width: 100px;
}
.certification__Text{
    text-align: center;
    font-weight: 900;
    color: #7C583B;
    font-size: 0.8rem;
    margin-top: 5px;
}