.reviews__Main-Container{
    background-image: url(../../assets/background/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 50px;   
}
.reviews__Card-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;    
}
.reviews__Card-Item{
    display: flex;
    justify-content: center;
}

.rowHandle{
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) {
    .reviews__Main-Container{            
        background-image: none;
        background-color: #8BA1AF;        
    }
    .reviews__Card-Item{
        margin: 10px;
    }
}