.reviewCard__Container {
    width: 75%;
    height: 100%;
    color: #F8FBFB;
    border: 1px solid;
    border-radius: 5px;
    background-color: #194E5035;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.reviewCard__Img {
    border-radius: 50%;
    border: 1px solid #F8FBFB;
    width: 50%;
    height: auto;
}

.titleText__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 100%; 
}

.reviewCard__Title {
    font-size: 0.9rem;
    margin: 5px 0;
}

.reviewCard__Text {
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
}
