.navbar__Container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar{
    background-color: #7C583B;
}
.navbar__Logo{
    width: 5%;
    height: auto;
}
.nav-link{
    color: #F8FBFB;
}

.navbar__Toggle-Text{
    font-size: 0.8rem;
}