.navbar__Container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar{
    background-color: #7C583B;
}
.navbar__Logo{
    width: 10%;
    height: auto;    
}

.navbar__Logo-Container{
    width: 50%;
}
.nav-link{
    color: #F8FBFB;
}

.navbar__Toggle-Text{
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    .navbar__Logo{
        width: 30%;
        height: auto;    
    }
}