.navbar__Container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;    
}
.navbar{
    background-color: #7C583B;
}
.navbar__Logo{
    width: 15%;
    height: auto;    
}
.navbar__Ipata{
    width: 9%;
    height: auto;
}

.navbar__Logos-Container{
    width: 600px;
}

.navbar__Logo-Container{
    width: 80px;
}
.nav-link{
    color: #F8FBFB;
}

.navbar__Toggle-Text{
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    .navbar__Container{    
        width: 100vw;
    }
    .navbar__Logos-Container{
        display: flex;
        width: 150px;
    }
    .navbar__Logo{
        width: 100%;
        height: auto;    
    }
    .navbar__Ipata{
        width: 20%;
        height: auto;
    }
    .navbar__Logo-Container{
        width: 50px;
    }
}