*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;  
  font-family: 'Nunito', sans-serif;  
}
.rowHandle{
  justify-content: center;
}
a {
  text-decoration: none;
  color: #F8FBFB;
}

body{
  width: 100vw;
}

/* @media (max-width: 576px) {
  body{
    width: 80vw;
  }
} */